@import "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css";
@import "https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap";


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
.about-wrapper{
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.about-left{
    background: #b1454a;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.about-left-content {
    background: #fff0de;
    padding: 4rem 4rem 2.5rem 5rem;
    text-align: center;
}
.about-left-content{
    box-shadow: 0px 0px 18px -1px rgba(0, 0, 0, 0.39);
    -webkit-box-shadow: 0px 0px 18px -1px rgba(0, 0, 0, 0.39);
    -moz-box-shadow: 0px 0px 18px -1px rgba(0, 0, 0, 0.39);
}
.about-img img{
    display: block;
    width: 200px;
}
.about-img{
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
    transition: all 0.5s ease-in-out;
}
.shadow{
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    position: relative;
    cursor: pointer;
}
.shadow::after{
    content: "";
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    left: 50%;
    transform: translateX(-50%);
    bottom: -20px;
    height: 7px;
    width: 50px;
    filter: blur(3px);
    -webkit-filter: blur(3px);
    opacity: 0;
    transition: all 0.6s ease;
}
.shadow:hover .about-img{
    transform: translateY(-10px);
}
.shadow:hover::after{
    opacity: 1;
}
.about-left-content h2{
    font-size: 2rem;
    margin: 2.2rem 0 0.6rem 0;
    line-height: 1.2;
    padding-bottom: 1rem;
    border-bottom: 2px solid #edffec;
}
.about-left-content h3{
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 5px;
    margin-top: 1.2rem;
}

.about-right{
    background: #fff;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 5rem;
    text-align: center;
}
.about-right h1{
    font-size: 5rem;
    text-transform: uppercase;
}
.about-right h1 span{
    color: #b1454a;
}
.about-right h2{
    font-weight: 600;
}

.about-para p{
    font-weight: 500;
    font-size: 20px;
    padding: 4rem;
    opacity: 0.7;
}

@media screen and (min-width: 992px){
    .about-wrapper{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .about-left{
        position: relative;
    }
    .about-left-content{
        position: absolute;
        right: -50px;
    }
}

.our-team h1{
    font-size: 5rem;
    text-transform: uppercase;
    text-align: center;
}
.our-team h1 span{
    color: #b1454a;
}

.collage{
    position: relative;
    text-align: center;
}

.collage img{
    height: 900px;
    width: 1345px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    
}

.c-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.7); 
    padding: 10px 20px; 
}

.c-text h1{
    font-size: 4rem;
    text-transform: uppercase;
    text-align: center;
    
}



.left{
    background: #e0aaff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 45vh;
}



.l-text h1{
    font-size: 3.5rem;
    text-transform: uppercase;
    position: absolute;
    text-align: center;
    left: 10px;
    top: 1830px;
    transform: translateY(-50%);

}


.vertical-line {
    position: absolute;
    left: 320px;
    top: 1715px;
    width: 2px; 
    height: 230px; 
    background-color: black; 
    transform: translateX(-50%);
}



/*.team-area{
    background-color:#e0aaff;
    
}*/


.single-team{
    padding-bottom: 70px;
    position: relative;
    left:130px;
    z-index: 1;
    overflow: hidden;
    box-shadow: 5px 5px 15px black;
    margin: 30px;
}

.team-img{
    position: relative;
    z-index: 5;
    overflow: hidden;
    
}

.team-img img{
    
    width: 100%;
    transition: 0.3s;
    /*object-fit: cover;  */
}

.single-team:hover .team-img img{
    
    transform: scale(1,1);
}

.team-content{
    height: 80px;
    width: 100%;
    position: absolute;
    text-align: center;
    overflow: hidden;
    bottom: 0;
    transition: all 0.4s;
    background: #b1454a;
    z-index: 5;
}

.single-team:hover .team-content{
    height: 150px;
}

.team-info{
    padding: 5px 20px 5px 20px;
    transition: all 0.5s;
}

.single-team:hover .team-content{
    background: black;
}

.singke-team .team-content .team-info h3{
    text-transform: uppercase;
    color: white;
    font-size: 16px;
    margin: 5px;
}

.single-team:hover .team-info h3{
    color: #b1454a;
    font-weight: bold;
}

.team-info p{
    margin-top: 15px;
    color: white;
}

.single-team-text{
    margin-top: 5px;
}

.team-text{
    color: white;
    padding: 0 10px 5px;
}

.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 2s ease;
}

.reveal.active{
    transform: translateY(0px);
    opacity: 1;    
}



/*@media screen and (max-width: 600px){
    h1{
        font-size: 2 rem;
    }
}*/